body {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: 400;
  font-style: italic;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
