.reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/background_reservation.svg);
  background-color: #d9e7ff;
}

.reservation__title {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 80px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
  max-width: 385px;
  width: 100%;
}

.reservation__fieldset {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
}

.reservation__label {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  color: black;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  max-width: 385px;
}

.reservation__input {
  margin-bottom: 32px;
  max-width: 385px;
  padding: 15px 20px;
  border: 1px solid #838383;
  border-radius: 4px;
  font-size: 20px;
  line-height: 30px;
}

.reservation__input::placeholder {
  color: #838383;
}

.reservation__button {
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 385px;
  width: 100%;
  margin-bottom: 32px;
  border-radius: 4px;
  border-color: #1878dc;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border: none;
  background-color: #1878dc;
  color: white;
  transition: background-color 0.3s ease;
}

.reservation__button:hover {
  background-color: #3f96f3;
}

.reservation__label_checkbox {
  display: flex;
  gap: 12px;
}

.reservation__checkbox {
  margin: 0;
  border-radius: 2px;
  width: 20px;
  height: 20px;
  background-color: white;
  appearance: none;
}

.reservation__checkbox:checked {
  background-color: #1878dc;
  background-image: url(../images/check.svg);
  background-position: center;
  background-repeat: no-repeat;
}
