.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  height: 800px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  background-image: url(../images/background_header.svg);
  background-size: cover;
}

.header__image {
  z-index: 1;
  position: absolute;
  height: 568px;
  width: 646px;
  top: 124px;
  right: 5px;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 30px 80px 0px 30px;
}

.nav__logo {
  height: 39px;
  width: 105px;
}

.nav__links {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  column-gap: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
}

.nav__link {
  text-decoration: none;
  color: black;
}

.header__title {
  font-size: 60px;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: -0.6px;
  margin-top: 183px;
  margin-left: 80px;
  margin-bottom: 28px;
  max-width: 729px;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
  color: #3f96f3;
  display: block;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin-top: 0;
  margin-left: 80px;
  max-width: 683px;
}

.header__footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: auto;
  margin-bottom: 40px;
  margin-left: 80px;
}

.header__paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  padding: 0;
  margin: 0;
}

.header__paragraph:last-of-type {
  position: absolute;
  bottom: 40px;
  right: 80px;
}

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
}

.recipes__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: white;
  max-width: 500px;
  margin: 0;
  padding-top: 100px;
  padding-left: 80px;
}
.recipes__subtitle {
  font-family: Noto Serif, Times New Roman, serif;
  font-size: 20px;
  line-height: 30px;
  color: white;
  margin-top: 24px;
  margin-bottom: 80px;
  max-width: 438px;
  padding-left: 80px;
}

.recipes__videos {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 215px;
}

.recipes__iframe {
  margin: 0;
  padding: 0;
  height: 273px;
  width: 480px;
}

.recipes__iframe iframe {
  width: 100%;
  height: 100%;
}

.recipes__iframe:first-of-type {
  margin-right: 40px;
}

.recipes__video-caption {
  color: white;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.recipes__video-caption p {
  margin: 0;
}
